		#bio{
			width: 200px;
			height: auto;
			position: relative;
			left: 25px;
			top: 20px;
			bottom: 25px;
			background-color: rgb(237, 220, 178);
			box-shadow: 6px 0px 2px hsla(0, 0%, 0%, 0.2);
			border-radius: 10px;
			text-align: left;
			padding: 3px;
		}		
		
		p{
		margin-bottom: -5px;	
		margin-top: 2px;
		font-family: "Verdana";
		}
		
		li{
		font-family: "verdana";
		font-weight: bold;
		margin-left: -5px;
		
		}
		
		#profilename{
			font-size: 25px;
			font-family: "Verdana";
			color: white;
			position: relative;
			text-align: center;
			top: -15px;
			margin-bottom: 0px;
		}
			
		
		.post {
			flex: 200px;
			max-height: 150px;
		}

		.lastpost {
			flex:1 1 1px;
		}
		
		#post{
		  margin: 10px;
		  padding: 10px;
		  border: solid, black;
		}
		
		#postHeader{
			margin-left: 10px;
		}
		
		#imageBacker {
			background-color: grey;
			width: 400px;
			margin-left: auto;
			margin-right: auto;
		}
		
		#imagePost {
			display: block;
			width: 200px;
			margin-left: auto;
			margin-right: auto;
		}
		
		.feed{
		    display: flex;
			flex-direction: column;
			flex: 1;
			display: flex;
			flex-direction: column;
			background-color: rgb(242, 212, 143);
			border-radius: 10px;
			margin-top: 10px;
		}

		.feed > div {
		  background-color: rgb(255, 246, 219);
		  text-align: left;
		  padding: 15px;
		  font-size: 20px;
		  box-shadow: 5px 5px 2px hsla(0, 0%, 0%, 0.2);
		  border-radius: 5px;
		}

				
		body {
		  font-family: "Lato", sans-serif;
		  display: flex;
		  flex-direction: column;
		  min-height: 98vh;
		}

		.sidenav {
		  height: 100%;
		  width: 0;
		  position: fixed;
		  z-index: 1;
		  top: 0;
		  left: 0;
		  background-color: orange;
		  text-align: center;
		  overflow-x: hidden;
		  transition: 0.5s;
		  padding-top: 60px;
		  box-shadow: 6px 0px 2px hsla(0, 0%, 0%, 0.2);
		}

		.sidenav a {
		  padding: 8px 8px 8px 32px;
		  text-decoration: none;
		  font-size: 25px;
		  color: #818181;
		  display: block;
		  transition: 0.3s;
		}

		.sidenav a:hover {
		  color: #f1f1f1;
		}

		.sidenav .closebtn {
		  position: absolute;
		  top: 0;
		  right: 10px;
		  font-size: 36px;
		  margin-left: 50px;
		}

		@media screen and (max-height: 450px) {
		  .sidenav {padding-top: 15px;}
		  .sidenav a {font-size: 18px;}
		}