	body {
		background-color: #B9E2FA; 
		padding: 0;
		margin: 0;
	}
	
	.background{
		width: auto;
		flex: 200px;
		position: absolute;
		top: 120px;
		margin-left: 20px;
		margin-right: 20px;
		text-align: center;
		background-color: orange;
		border-radius: 30px;
		box-shadow: 6px 10px 2px hsla(0, 0%, 0%, 0.2);
	}
	
	#back {
		
	}
	
	#header {
		font-weight: bold;
		font-size: 8px;
		margin-bottom: -18px;
	}
	
	#policy {
		font-size: 8px;
		margin: 20px;
		margin-bottom: 20px;
	}
	
.topBannerBack {
  background-image: url("images/topBannerStretch.png");
  width: 100%;
  height: 109px;
  display: inline-block;
  margin-bottom: 10px;
  vertical-align: middle;
}
	
.topBannerFrontLeft {
  width: 433px;
  height: 109px;
  z-index: -1;
  display: inline-block;
  float: left;
}

.menuItems{
color: Gray;
text-align: center;
padding: 10px 25px;
margin-top: 10px;
display: inline-block;
float: right;
}

.menuItems a {
font-family: "Segoe Print", sans-serif;
font-size: 20px;
color: #B2B2B2;
}
.menuItems a:link {
text-align: center;
text-decoration: none;
color: white;
}

.menuItems a:visited {
color: white;
}



  #smiley1 {
    width: 150px;
	

    /* initiate animation */
    animation-name: smiley1;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-direction: normal;
  }

  /* animation instructions  from to or % */
  @keyframes smiley1 {
    0% {left:5%; top:5%; -webkit-transform: rotate(0deg)}
    25% {left:73%; top:5%; -webkit-transform: rotate(90deg)}
    50% {left:73%; top:75%; -webkit-transform: rotate(180deg)}
    75% {left:5%; top:75%; -webkit-transform: rotate(270deg)}
    100% {left:5%; top:5%; -webkit-transform: rotate(360deg)}
  }
  
    #smiley2 {
    width: 100px;
	position: absolute;
	

    /* initiate animation */
    animation-name: smiley2;
    animation-duration: 2.2s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-direction: normal;
  }

  /* animation instructions  from to or % */
  @keyframes smiley2 {
    0% {right:40%; bottom:25%; -webkit-transform: rotate(0deg)}
    25% {right:23%; bottom:45%; -webkit-transform: rotate(-270deg)}
    50% {right:40%; bottom:60%; -webkit-transform: rotate(180deg)}
	75% {right:60%; bottom:45%; -webkit-transform: rotate(-90deg)}
    100% {right:40%; bottom:25%; -webkit-transform: rotate(-360deg)}
  }
  
