body
{
	padding:0;
	margin:0;
	background-color:#B9E2FA;
	font-family: Segoe UI, sans-serif;
}

.topBannerBack {
  background-image: url("../images/topBannerStretch.png");
  width: 100%;
	height: 151px;
}
.topBannerFront {
  margin-right:auto;
  margin-left:auto;
  width: 603px;
  height: 152px;
  z-index: -1;
}

.verticalBodyBox
{
	display:flex;
	flex-direction:column;
    align-items: center;     /* center items horizontally, in this case */
}

.orangeLink
{
	color: #EF851F;
	border-bottom: #EF851F solid 1px;
	cursor: default;
}

.actionButton
{
	font-size: 24px;
	border-radius:8px;
	padding-left:50px;
	padding-right:50px;
	color:white;
	height:50px;
	border: none;
	background-color: #aaa;
	cursor:pointer;
	transition: 0.2s;
}

.actionButton:hover {
	background-color: lightgrey;
}

.actionButtonOrange
{
	font-size: 24px;
	border-radius:8px;
	padding-left:50px;
	padding-right:50px;
	color:white;
	height:50px;
	border: none;
	background-color: #EF851F;
	cursor:pointer;
	transition: 0.2s;
}

.actionButtonOrange:hover {
	background-color: rgb(237, 163, 90);
}

.ruleDivider
{
	width:80%;
	margin-top:40px;
	margin-bottom:40px;
	border-bottom: 1px solid gray;
}

/* tooltip based on https://www.w3schools.com/css/tryit.asp?filename=trycss_tooltip_arrow_top */

.tooltipparentbottombar
{
	position: fixed;
	bottom:0px;
	margin:0;
	padding:0;
	width:100%;
	height:0;
	z-index: 0;
}

.tooltip {
  visibility: hidden;
  width: 100%;
  height: 200px;
  background-color: #EF851F;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom:0;
	font-family: Segoe UI, sans-serif !important;
	font-weight: normal !important;
	font-size: 12pt !important;


  margin-bottom:-5px;
  padding-bottom:20px;
}
